html, body { 
	width:100%; 
	height:100%; 
	margin:0; 
	padding:0; 
}

canvas { 
	display:block; 
	background:black;
} 

#content {
	width:200;
	height:150;
	resize:both;
}

#overlay {
	padding:5px;
	position:absolute;
	font-size:150%;
	font-family:monospace;
	color:white;
	top:0;
	left:0;
	z-index:10;
}

